# SUPABASE_URL: Your Supabase project URL
VITE_SUPABASE_URL="MY_SUPABASE_URL"

# SUPABASE_ANON_KEY: Your Supabase anonymous key
VITE_SUPABASE_ANON_KEY="MY_SUPABASE_ANON_KEY"

# CLOUDINARY_CLOUD_NAME: Your Cloudinary cloud name
VITE_CLOUDINARY_CLOUD_NAME="MY_CLOUDINARY_CLOUD_NAME"

# CLOUDINARY_API_KEY: Your Cloudinary API Key
CLOUDINARY_API_KEY="MY_CLOUDINARY_API_KEY"

# CLOUDINARY_API_SECRET: Your Cloudinary API Secret
CLOUDINARY_API_SECRET="MY_CLOUDINARY_API_SECRET"

# ADMIN_CREDENTIALS
VITE_ADMIN_USERNAME="PUL5E"
VITE_ADMIN_PASSWORD="admin_password_here"
